{%  extends 'base.html' %}

{%block title%}{{request.user.first_name}}'s Profile{% endblock %}

{%block body%}

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>


<div class="row">
    <div class="col-md-1"></div>
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'index' %}"> &#8592; Back to Home</a>
			<hr>
			<h3 style="text-align: center">Profile Settings</h3>
			<hr>



            <img src="/media/uploads/user.png" class="rounded profile-pic" alt="user">
			<h5 class="container text-center">Username : <b>{{request.user.username}}</b></h5>

		</div>
	</div>
    <div class="col-md-1"></div>
	<div class="col-md-6">
		<div class="card card-body">
			<table class="table container">

			  <tbody>
				<tr>
				  <td>First Name :</td>
				  <td>{{request.user.first_name}}</td>
				</tr>
				<tr>
				  <td>Last Name :</td>
				  <td>{{request.user.last_name}}</td>
				</tr>
                <tr>
				  <td>Username :</td>
				  <td>{{request.user.username}}</td>
				</tr>

				<tr>
				  <td>Email : </td>
				  <td>{{request.user.email}}</td>
				</tr>

			  </tbody>
			</table>
		</div>

</div>
</div>

</br>
</br>
</br>
{% endblock %}